body {
    background-color: rgb(182, 216, 191);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
    text-align: center;
    text-decoration-line: underline
}

.intro {
    text-align: center;
    width: 700px;
  border: 15px solid rgb(5, 55, 5);
  padding: 30px;
  margin: 20px;
}

.flexlayout {
  display: flex;
  flex-direction: row;
  column-count: 3;
  margin: 1d0px;
}


img {
    max-width: 100%;

}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
   padding: 10px;
   text-align: center
}

.links, .links:visited {
  background-color: #033020;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(19, 134, 38);
}

p {
    text-indent: 10px;
}

</style>
</head>
<body>

.gallery {
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery_item {
    margin: 5px;
  border: 1px solid #13330b;
  width: 180px;
}

.gallery_item img {
  width: 100%;
  height: auto;
}

.gallery_item div.desc {
  padding: 15px;
  text-align: center;

}
</style>
</head>
</body>



/*a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
*/

a:hover, a:active {
  background-color: red;
}
.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


