body {
    background-color: rgb(182, 216, 191);
  }
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
}

.intro {
    text-align: center;
    width: 700px;
  border: 15px solid rgb(5, 55, 5);
  padding: 30px;
  margin: 20px;
  position: relative;
   left: 350px;
}


table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
   padding: 10px;
   text-align: center;
}

table.page-table {
  border-collapse: collapse;
}

.links, .links:visited {
  background-color: #033020;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}


a:hover {
  background-color: rgb(162, 255, 0);
}

a:active{
  background-color: rgb(42, 59, 17);
}

p {
    text-indent: 10px;
}

.horizontal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page-center {
  display: flex;
  justify-content: center; 
}

div.gallery {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;      
  gap: 10px;             
  justify-content: flex-start;
}

div.gallery_item {
  border: 1px solid #13330b;
  width: 180px;
  text-align: center;
}

div.gallery_item img {
 width: 100%;
  height: auto;
  display: block;
}

div.gallery_item div.desc {
    padding: 10px;
  text-align: center;
}



/*a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
*/


.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


