body {
    background-color: rgb(182, 216, 191);
  }
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
}

p {
text-align: left
}


.intro {
    text-align: center;
    width: 700px;
  border: 15px solid rgb(5, 55, 5);
  padding: 30px;
  margin: 20px;
  position: relative;
   left: 350px;
}

.info {
background-attachment:url("backgroundproject.avif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
   padding: 10px;
   text-align: center;
}

table.page-table {
  border-collapse: collapse;
}

.links, .links:visited {
  background-color: #0d7d56;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  color: rgb(0, 0, 0);
}

.name{
  text-align: center;
   font-size: 10px;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  background-color: rgb(162, 255, 0);
  color: rgb(13, 9, 11);
}

a:active{
  background-color: rgb(42, 59, 17);
}

.txt {
    text-indent: 10px;
     font-size: 10px;
     text-align:center;
}

.horizontal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page-center {
  display: flex;
  justify-content: center; 
}

div.gallery {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;      
  gap: 10px;             
  justify-content: flex-start;
}

div.gallery_item {
  border: 1px solid #13330b;
  width: 180px;
  text-align: center;
}

div.gallery_item img {
 width: 100%;
  height: auto;
  display: block;
}

div.gallery_item div.desc {
    padding: 10px;
  text-align: center;
}

.supraAdd {
  vertical-align: super;
  font-size: 0.8em;
}

.marginAdd {
  display: none;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 800px;
  margin: 40px auto;
  padding: 10px 20px;
}

/*a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
*/


.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


